body {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  background-color: coral;
  font-family: "Noto Sans HK", sans-serif;
}
.main {
  width: 100%;
  max-width: 980px;
  margin: 20px auto 80px;
  padding: 0 10px;
}
